<%= form_for @trip, :url => trip_create_path, :html => {:multipart => true} do |f| %>
    <% if @trip.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

          <ul>
            <% @trip.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.text_field :address, :id => 'gmaps-input-address', :placeholder => 'Start typing a place...' %>
    </div>


      Latitude: <span id='gmaps-output-latitude'></span>
      <br/>
      Longitude: <span id='gmaps-output-longitude'></span>
      <br/>
    <div id='gmaps-error'></div>

    <div id='gmaps-canvas'></div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
