<h2>Hello World</h2>
<p>We are mileups, platform for creating beautiful travelogs. <br>You can easly share it with friends.</p>

<p>Please sign up and test our beta app.</p>




<% if !user_signed_in?%>
    <div class="col-md-3 side">

    <h2>Sign up</h2>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div><%= f.label :email %><br />
          <%= f.email_field :email %></div>

        <div><%= f.label :username %><br />
          <%= f.text_field :username %></div>

        <div><%= f.label :password %><br />
          <%= f.password_field :password %></div>


        <div><%= f.submit "Sign up" %></div>
    <% end %>
    </div>
    <div class="col-md-3 side">
      <br>
      <h6>If you already a member</h6>
      <%= link_to 'Login', new_user_session_path, class: 'btn btn-primary btn-lg btn-block'  %>
    </div>
<% end %>

